<div class="row">
    <div class="col">
    </div>
<div class="col">
    </br>
    </br>
    </br>
    <h1>Bienvenido</h1>
    </br>
    <ul class="list-inline">
        <li class="list-inline-item"><%= button_to "Marcas", marcas_path, :class =>"btn btn-primary", :method => :get %></li>
        <li class="list-inline-item"><%= button_to "Productos", productos_path, :class => "btn btn-warning", :method => :get %></li>
    </ul>
    </div>
    <div class="col">
    </div>
  </div>
</div>


