</br>
</br>

<div class="row">
    <div class="col">
    </div>

    <div class="col">
        <h1>Nueva Marca</h1>
        <%= render 'form', marca: @marca %>
    </div>

    <div class="col">
    </div>
</div>
</div>
